<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<nav>
  <% if (user) { %>
    <a href="/auth/logout" class="right">
      <button type="submit">Logout</button>
    </a>
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin right"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  <% } %>
</nav>

<main>
  <p id="logo">grateful<span id='period'>.</span></p>
  <p id="happytoday">sign in for some serotonin :)</p>
  <a class="letsgo-button" href="/happys/new" method="GET" >let's go!</a>
</main>

<%- include('./partials/footer') %>
