<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <p id="logo">grateful<span id='period'>.</span></p>
  <p id="signin">sign in for some serotonin :)</p>
  <a class="letsgo-button" href="/happys/new" method="GET" >let's go!</a>
</main>

<%- include('./partials/footer') %>
