<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <p id="logo">grateful<span id='period'>.</span></p>
  <p id="signin">sign in for some serotonin :)</p>
  <button type="submit">let's go!</button>
</main>

<%- include('./partials/footer') %>
