<link rel="stylesheet" href="/stylesheets/style.css" />


<main>
  <p id="showlogo">goals<span id='period'>.</span></p>
  <section>
    <p id="editfont"> <%= goal.goalDescription %> </p>
    <form id="goal-form" action="/goals/<%= goal._id %>?_method=PUT" method="POST">
      <input id=happy-input
      type="text" 
      name="goalDescription"
      value="<%= goal.goalDescription %>"> 
      <button class="updatebuttons-style" type="submit">update</button>
    </form>
  </section>
</main>