<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
</head>

<body>
  <nav>
  <a href="/profiles"> grateful view </a>
  </nav>


<p id="logo">grateful<span id='period'>.</span></p>
<h1 id="happytoday">what is your goal for tomorrow?</h1>


<form id="add-happy" action="/goals" method="POST">
  <input type="text" name="goalDescription" id="happy-input">
  <button id="happybutton" type="submit">click me :)</button>
</form>

<%- include('../partials/footer') %>