<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <a 
  href="/goals" >
  grateful view
</a>

</nav>

<main>
  <p id="logo">goals<span id='period'>.</span></p>
  <section>
    <p> <%= goal.goalDescription %> </p>
    <a href="/goals/<%= goal._id %>/edit">
      <button>edit my goal</button>
    </a>
  </section>
</main>