html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Times New Roman", serif;
  margin: 0;
  background-image: url("https://i.imgur.com/L3f5AEG.jpg");
  background-position: right;
  background-repeat: repeat-y;
}

#indexlogo {
  margin-left: 0px;
  text-align: center;
  color: #7FD8BE;
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-weight: bold;
  display: flex;
  background-color: white;
  border-radius: 8px;
}

#logo {
  color: #7FD8BE;
  font-size: 140px;
  margin-top: 300px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#showlogo {
  margin-left: 0px;
  text-align: center; 
  color: #7FD8BE;
  font-size: 100px;
  margin-top: 250px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  font-weight: bold;
  display: flex;
  background-color: white;
  border-radius: 8px;
}

#happyshowlogo {
  margin-left: 0px;
  text-align: center; 
  color: #7FD8BE;
  font-size: 80px;
  margin-top: 250px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  font-weight: bold;
  display: flex;
  background-color: white;
  border-radius: 8px;
}

#period {
  color: #FCD29F;
}

#signin {
  text-align: center;
  color: #FCAB64;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

.letsgo-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
}


#tableheaderfont {
  font-size: 35px;
  color: #FCAB64;
  text-decoration: underline dotted;
  text-decoration-color: #fcd29f;
}

#tablefont {
  font-size: 15px;
}

#editfont {
  text-align: center;
  color: #FCAB64;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

#happytoday {
  text-align: center;
  color: #FCAB64;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 8px;
}

#happybutton {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
  margin: 0 auto;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
  margin: 0 auto;
}

.updatebuttons-style {
  margin-top: 5px;
}

#happy-input {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 17px;
}

nav {
  background-color: #fefdfd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  min-height: 60px;
  font-size: 30px;
  font-weight: bold;
}


.fix-table-head {
  overflow: auto;
  height: 250px;
  margin-top: 0px;
}

.fix-table-head thead th {
  top: 0;
}

a:link {
  color:#FCAB64;
}
a:visited {
  color:#FCAB64;
}
a:active {
color:#FCAB64;
}

table {
  font-weight: bold;
  background-color: white;
  border-collapse:separate;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
}

td {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}



@media only screen and (max-width: 600px) {
  #logo {
    margin-left: 0px;
    color: #7FD8BE;
    font-size: 90px;
    margin-top: 300px;
    margin-bottom: 0px;
    font-weight: bold;
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding-left: 9px;
  }

  #happytoday {
    text-align: center;
    color: #FCAB64;
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #indexlogo {
    margin-left: 0px;
    color: #7FD8BE;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0px;
    font-weight: bold;
    display: flex;
    background-color: white;
    border-radius: 8px;
  }

  #happyshowlogo {
    margin-left: 0px;
    text-align: center; 
    color: #7FD8BE;
    font-size: 60px;
    margin-top: 250px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    font-weight: bold;
    display: flex;
    background-color: white;
    border-radius: 8px;
  }

  body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Times New Roman", serif;
    margin: 0;
    background-image: url("https://i.imgur.com/L3f5AEG.jpg");
  }

  table {
    font-weight: bold;
    background-color: white;
    border-collapse:separate;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    padding-top: 20px;
  }
  
  td {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mobile {
    font-size: 30px;
  }

  nav {
    background-color: #fefdfd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    min-height: 60px;
    font-size: 23px;
    font-weight: bold;
  }
}