<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <a 
  href="/goals" >
  grateful view
</a>

</nav>

<p id="logo">grateful<span id='period'>.</span></p>
<h1 id="happytoday">what made you happy today?</h1>


<form id="add-happy" action="/happys" method="POST">
  <input type="text" name="description" id="happy-input">
  <button id="happybutton" type="submit">click me :)</button>
</form>


