<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
</head>
<body>
<nav>
  <a href="/profiles"> grateful view </a>
</nav>


<p id="logo">grateful<span id='period'>.</span></p>
<p id="happytoday">what made you happy today?</p>

<form id="add-happy" action="/happys" method="POST">
  <input type="text" name="description" id="happy-input">
  <button id="happybutton" type="submit">click me :)</button>
</form>

<%- include('../partials/footer') %>
