<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <a 
  href="/goals" >
  grateful view
</a>

</nav>

<main>
  <p id="logo">what makes me happy<span id='period'>.</span></p>
  <section>
    <p> <%= happy.description %> </p>
    <a href="/happys/<%= happy._id %>/edit">
      <button>edit my happy</button>
    </a>
  </section>
</main>